<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bhargav.hcms">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permisson.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/hcms"
        android:label="@string/app_name"
        android:roundIcon="@drawable/hcms"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SkipSettings"
            android:label="@string/action_settings"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".SkipTotalHealth"
            android:label="@string/title_activity_total_hlth"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".SkipVitamins"
            android:label="@string/some_types_of_vitamins"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".SkipCalls"
            android:label="@string/call"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SkipPortal"
            android:label="@string/message"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".data.FriendDB" />
        <activity android:name=".data.SharedPreferenceHelper" />
        <activity android:name=".data.StaticConfig" />
        <activity
            android:name=".ui.ChatActivity"
            android:parentActivityName=".PortalPage"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.FriendsFragment" />
        <activity
            android:name=".LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentBackground" />
        <activity
            android:name=".RegisterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Translucent" />
        <activity android:name=".ui.UserProfileFragment" />

        <service
            android:name=".service.FriendChatService"
            android:exported="false"
            android:persistent="true" />

        <activity
            android:name=".PortalPage"
            android:label="@string/title_activity_portal_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Settings"
            android:label="@string/action_settings"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".GoogleMap"
            android:label="@string/title_activity_google_map"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Doctor"
            android:label="@string/title_activity_doctor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AboutUs"
            android:label="@string/about" />
        <activity
            android:name=".ContactUs"
            android:label="@string/contact" />
        <activity
            android:name=".Feedback"
            android:label="@string/feedback"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TopHsp"
            android:label="@string/title_activity_top_hsp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Hospital"
            android:label="@string/title_activity_hospital"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HospitalsInINDIA.Andaman"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HospitalsInINDIA.AP"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HospitalsInINDIA.ARP"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HospitalsInINDIA.Assam"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HospitalsInINDIA.Bihar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HospitalsInINDIA.Chhattisgarh"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HospitalsInINDIA.Dadra"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HospitalsInINDIA.Daman"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HospitalsInINDIA.Delhi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HospitalsInINDIA.Goa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HospitalsInINDIA.Gujarat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HospitalsInINDIA.Haryana"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HospitalsInINDIA.Himachal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HospitalsInINDIA.Jammu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HospitalsInINDIA.Jharkhand"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HospitalsInINDIA.Karnataka"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HospitalsInINDIA.Kerala"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HospitalsInINDIA.Lakshadweep"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HospitalsInINDIA.Madhya"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HospitalsInINDIA.Maharashtra"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HospitalsInINDIA.Manipur"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HospitalsInINDIA.Meghalaya"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HospitalsInINDIA.Mizoram"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HospitalsInINDIA.Nagaland"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HospitalsInINDIA.Odisha"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HospitalsInINDIA.Puducherry"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HospitalsInINDIA.Punjab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HospitalsInINDIA.Rajasthan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HospitalsInINDIA.Sikkim"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HospitalsInINDIA.TN"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HospitalsInINDIA.Telangana"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HospitalsInINDIA.Tripura"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HospitalsInINDIA.UP"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HospitalsInINDIA.Uttarakhand"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HospitalsInINDIA.WB"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HospitalsInINDIA.Andaman_Nicobar.PB"
            android:label="@string/pb" />
        <activity
            android:name=".HospitalsInINDIA.Andaman_Nicobar.HI"
            android:label="@string/hi" />
        <activity
            android:name=".HospitalsInINDIA.Andaman_Nicobar.NI"
            android:label="@string/ni" />
        <activity
            android:name=".HospitalsInINDIA.Andaman_Nicobar.LA"
            android:label="@string/la" />
        <activity
            android:name=".HospitalsInINDIA.Andhra_Pradesh.Anantapur"
            android:label="@string/anantapur" />
        <activity
            android:name=".HospitalsInINDIA.Andhra_Pradesh.Chittoor"
            android:label="@string/chittoor" />
        <activity
            android:name=".HospitalsInINDIA.Andhra_Pradesh.EG"
            android:label="@string/eg" />
        <activity
            android:name=".HospitalsInINDIA.Andhra_Pradesh.Guntur"
            android:label="@string/guntur" />
        <activity
            android:name=".HospitalsInINDIA.Andhra_Pradesh.Krishna"
            android:label="@string/krishna" />
        <activity
            android:name=".HospitalsInINDIA.Andhra_Pradesh.Kurnool"
            android:label="@string/kurnool" />
        <activity
            android:name=".HospitalsInINDIA.Andhra_Pradesh.Prakasam"
            android:label="@string/prakasam" />
        <activity
            android:name=".HospitalsInINDIA.Andhra_Pradesh.Srikakulam"
            android:label="@string/srikakulam" />
        <activity
            android:name=".HospitalsInINDIA.Andhra_Pradesh.Nellore"
            android:label="@string/nellore" />
        <activity
            android:name=".HospitalsInINDIA.Andhra_Pradesh.Visakhapatnam"
            android:label="@string/visakhapatnam" />
        <activity
            android:name=".HospitalsInINDIA.Andhra_Pradesh.Vizianagaram"
            android:label="@string/vizianagaram" />
        <activity
            android:name=".HospitalsInINDIA.Andhra_Pradesh.WG"
            android:label="@string/wg" />
        <activity
            android:name=".HospitalsInINDIA.Andhra_Pradesh.Kadapa"
            android:label="@string/ysr" />
        <activity
            android:name=".HospitalsInINDIA.Arunachal_Pradesh.Anjaw"
            android:label="@string/anjaw" />
        <activity
            android:name=".HospitalsInINDIA.Arunachal_Pradesh.Changlang"
            android:label="@string/changlang" />
        <activity
            android:name=".HospitalsInINDIA.Arunachal_Pradesh.DV"
            android:label="@string/dv" />
        <activity
            android:name=".HospitalsInINDIA.Arunachal_Pradesh.EK"
            android:label="@string/ek" />
        <activity
            android:name=".HospitalsInINDIA.Arunachal_Pradesh.ES"
            android:label="@string/es" />
        <activity
            android:name=".HospitalsInINDIA.Arunachal_Pradesh.Lohit"
            android:label="@string/lohit" />
        <activity
            android:name=".HospitalsInINDIA.Arunachal_Pradesh.Tawang"
            android:label="@string/tawang" />
        <activity
            android:name=".HospitalsInINDIA.Asam.Morigaon"
            android:label="@string/morigaon" />
        <activity
            android:name=".HospitalsInINDIA.Asam.Sonitpur"
            android:label="@string/sonitpur" />
        <activity
            android:name=".HospitalsInINDIA.Asam.Udalguri"
            android:label="@string/udalguri" />
        <activity
            android:name=".HospitalsInINDIA.Bi_har.Patna"
            android:label="@string/patna" />
        <activity
            android:name=".HospitalsInINDIA.Bi_har.Saharsa"
            android:label="@string/saharsa" />
        <activity
            android:name=".HospitalsInINDIA.Bi_har.Vaishali"
            android:label="@string/vaishali" />
        <activity
            android:name=".HospitalsInINDIA.Chattisgarh.BJ"
            android:label="@string/bj" />
        <activity
            android:name=".HospitalsInINDIA.Chattisgarh.Bilaspur"
            android:label="@string/bilaspur" />
        <activity
            android:name=".HospitalsInINDIA.Chattisgarh.Durg"
            android:label="@string/durg" />
        <activity
            android:name=".HospitalsInINDIA.Chattisgarh.Raipur"
            android:label="@string/raipur" />
        <activity
            android:name=".HospitalsInINDIA.Dadra_and_Nagar_Haveli.DN"
            android:label="@string/dn" />
        <activity
            android:name=".HospitalsInINDIA.Daman_and_Diu.Damans"
            android:label="@string/daman" />
        <activity
            android:name=".HospitalsInINDIA.Daman_and_Diu.Diu"
            android:label="@string/diu" />
        <activity
            android:name=".HospitalsInINDIA.N_Delhi.ND"
            android:label="@string/nd" />
        <activity
            android:name=".HospitalsInINDIA.Goas.NG"
            android:label="@string/ng" />
        <activity
            android:name=".HospitalsInINDIA.Goas.SG"
            android:label="@string/sg" />
        <activity
            android:name=".HospitalsInINDIA.Guj_rat.Ahmadabad"
            android:label="@string/ahmadabad" />
        <activity
            android:name=".HospitalsInINDIA.Guj_rat.Narmada"
            android:label="@string/narmada" />
        <activity
            android:name=".HospitalsInINDIA.Guj_rat.Patan"
            android:label="@string/patan" />
        <activity
            android:name=".HospitalsInINDIA.Guj_rat.Rajkot"
            android:label="@string/rajkot" />
        <activity
            android:name=".HospitalsInINDIA.Hary_na.Gurgaon"
            android:label="@string/gurgaon" />
        <activity
            android:name=".HospitalsInINDIA.Hary_na.Panipat"
            android:label="@string/panipat" />
        <activity
            android:name=".HospitalsInINDIA.Himachal_Pradesh.Shimla"
            android:label="@string/shimla" />
        <activity
            android:name=".HospitalsInINDIA.Jammu_and_Kashmir.Jammus"
            android:label="@string/jammu" />
        <activity
            android:name=".HospitalsInINDIA.Jammu_and_Kashmir.Srinagar"
            android:label="@string/srinagar" />
        <activity
            android:name=".HospitalsInINDIA.Jhark_and.Bokaro"
            android:label="@string/bokaro" />
        <activity
            android:name=".HospitalsInINDIA.Jhark_and.Ranchi"
            android:label="@string/ranchi" />
        <activity
            android:name=".HospitalsInINDIA.Karn_taka.Bangalore"
            android:label="@string/bangalore" />
        <activity
            android:name=".HospitalsInINDIA.Karn_taka.Kolar"
            android:label="@string/kollam" />
        <activity
            android:name=".HospitalsInINDIA.Karn_taka.Mysore"
            android:label="@string/mysore" />
        <activity
            android:name=".HospitalsInINDIA.Ker_la.Kollam"
            android:label="@string/kollam" />
        <activity
            android:name=".HospitalsInINDIA.Ker_la.Malappuram"
            android:label="@string/malappuram" />
        <activity
            android:name=".HospitalsInINDIA.Ker_la.Thiruvananthapuram"
            android:label="@string/thiruvananthapuram" />
        <activity
            android:name=".HospitalsInINDIA.Laksh_dweep.LW"
            android:label="@string/lw" />
        <activity
            android:name=".HospitalsInINDIA.Madhya_Pradesh.Bhopal"
            android:label="@string/bhopal" />
        <activity
            android:name=".HospitalsInINDIA.Madhya_Pradesh.Indore"
            android:label="@string/indore" />
        <activity
            android:name=".HospitalsInINDIA.Madhya_Pradesh.Jabalpur"
            android:label="@string/jabalpur" />
        <activity
            android:name=".HospitalsInINDIA.Maha_ashtra.Mumbai"
            android:label="@string/mumbai" />
        <activity
            android:name=".HospitalsInINDIA.Maha_ashtra.Pune"
            android:label="@string/pune" />
        <activity
            android:name=".HospitalsInINDIA.Maha_ashtra.Nagpur"
            android:label="@string/nagpur" />
        <activity
            android:name=".HospitalsInINDIA.Maha_ashtra.Shridi"
            android:label="@string/shridi" />
        <activity
            android:name=".HospitalsInINDIA.Man_pur.Imphal"
            android:label="@string/imphal" />
        <activity
            android:name=".HospitalsInINDIA.Man_pur.Thoubal"
            android:label="@string/thoubal" />
        <activity
            android:name=".HospitalsInINDIA.Megh_laya.Shillong"
            android:label="@string/shillong" />
        <activity
            android:name=".HospitalsInINDIA.Megh_laya.Guwahati"
            android:label="@string/guwahati" />
        <activity
            android:name=".HospitalsInINDIA.Miz_ram.Aizawl"
            android:label="@string/aizawl" />
        <activity
            android:name=".HospitalsInINDIA.Nag_land.Kohima"
            android:label="@string/kohima" />
        <activity
            android:name=".HospitalsInINDIA.Od_sha.Bhubaneswar"
            android:label="@string/bhubaneswar" />
        <activity
            android:name=".HospitalsInINDIA.Od_sha.Sambalpur"
            android:label="@string/sambalpur" />
        <activity
            android:name=".HospitalsInINDIA.Od_sha.Puri"
            android:label="@string/puri" />
        <activity
            android:name=".HospitalsInINDIA.Pudu_herry.Pondicherry"
            android:label="@string/pondicherry" />
        <activity
            android:name=".HospitalsInINDIA.Pudu_herry.Yanam"
            android:label="@string/yanam" />
        <activity
            android:name=".HospitalsInINDIA.Pun_ab.Amritsar"
            android:label="@string/amritsar" />
        <activity
            android:name=".HospitalsInINDIA.Pun_ab.Chandigarh"
            android:label="@string/chandigarh" />
        <activity
            android:name=".HospitalsInINDIA.Raja_than.Jaipur"
            android:label="@string/jaipur" />
        <activity
            android:name=".HospitalsInINDIA.Raja_than.Udaipur"
            android:label="@string/udaipur" />
        <activity
            android:name=".HospitalsInINDIA.Sik_im.Gangtok"
            android:label="@string/gangtok" />
        <activity
            android:name=".HospitalsInINDIA.Tamil_Nadu.Chennai"
            android:label="@string/chennai" />
        <activity
            android:name=".HospitalsInINDIA.Tamil_Nadu.Madurai"
            android:label="@string/madurai" />
        <activity
            android:name=".HospitalsInINDIA.Tamil_Nadu.Coimbatore"
            android:label="@string/coimbatore" />
        <activity
            android:name=".HospitalsInINDIA.Tamil_Nadu.Salem"
            android:label="@string/salem" />
        <activity
            android:name=".HospitalsInINDIA.Tamil_Nadu.Thanjavur"
            android:label="@string/thanjavur" />
        <activity
            android:name=".HospitalsInINDIA.Tamil_Nadu.Vellore"
            android:label="@string/vellore" />
        <activity
            android:name=".HospitalsInINDIA.Tamil_Nadu.Ooty"
            android:label="@string/ooty" />
        <activity
            android:name=".HospitalsInINDIA.Tamil_Nadu.Hosur"
            android:label="@string/hosur" />
        <activity
            android:name=".HospitalsInINDIA.Tela_gana.Hyderabad"
            android:label="@string/hyderabad" />
        <activity
            android:name=".HospitalsInINDIA.Tela_gana.Warangal"
            android:label="@string/warangal" />
        <activity
            android:name=".HospitalsInINDIA.Tela_gana.Nalagonda"
            android:label="@string/nalagonda" />
        <activity
            android:name=".HospitalsInINDIA.Tela_gana.Secunderabad"
            android:label="@string/secunderabad" />
        <activity
            android:name=".HospitalsInINDIA.Tri_ura.Agartala"
            android:label="@string/agartala" />
        <activity
            android:name=".HospitalsInINDIA.Uttar_Pradesh.Lucknow"
            android:label="@string/lucknow" />
        <activity
            android:name=".HospitalsInINDIA.Uttar_Pradesh.Agra"
            android:label="@string/agra" />
        <activity
            android:name=".HospitalsInINDIA.Uttar_Pradesh.Kanpur"
            android:label="@string/kanpur" />
        <activity
            android:name=".HospitalsInINDIA.Uttar_hand.Dehradun"
            android:label="@string/dehradun" />
        <activity
            android:name=".HospitalsInINDIA.Uttar_hand.Badrinath"
            android:label="@string/badrinath" />
        <activity
            android:name=".HospitalsInINDIA.West_Bengal.Kolkata"
            android:label="@string/kolkata" />
        <activity
            android:name=".HospitalsInINDIA.West_Bengal.Durgapur"
            android:label="@string/durgapur" />
        <activity
            android:name=".DonateBld"
            android:label="@string/title_activity_donate_bld"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Msg"
            android:label="@string/title_activity_msg"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Calls"
            android:label="@string/title_activity_calls"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Vitamin"
            android:label="@string/title_activity_vitamin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Vitamins.VitaminA"
            android:label="@string/vitamina"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Vitamins.VitaminB1"
            android:label="@string/vitaminb1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Vitamins.VitaminB2"
            android:label="@string/vitaminb2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Vitamins.VitaminB3"
            android:label="@string/vitaminb3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Vitamins.VitaminB5"
            android:label="@string/vitaminb5"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Vitamins.VitaminB6"
            android:label="@string/vitaminb6"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Vitamins.VitaminB7"
            android:label="@string/vitaminb7"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Vitamins.VitaminB9"
            android:label="@string/vitaminb9"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Vitamins.VitaminB12"
            android:label="@string/vitaminb12"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Vitamins.VitaminC"
            android:label="@string/vitaminc"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Vitamins.VitaminD"
            android:label="@string/vitamind"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Vitamins.VitaminE"
            android:label="@string/vitamine"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Vitamins.VitaminK"
            android:label="@string/vitamink"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TotalHlth"
            android:label="@string/title_activity_total_hlth"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TotalHealthTips.DietPlan"
            android:label="@string/diet_plan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TotalHealthTips.Exercise"
            android:label="@string/exercise"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TotalHealthTips.RoutineMaker"
            android:label="@string/routinemaker"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TotalHealthTips.WorkoutManagement"
            android:label="@string/workoutmanagement"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TotalHealthTips.Pimples"
            android:label="@string/pimples"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TotalHealthTips.Scars"
            android:label="@string/scars"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TotalHealthTips.FaceCare"
            android:label="@string/facecare"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TotalHealthTips.HairLoss"
            android:label="@string/hairloss"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TotalHealthTips.Dandruff"
            android:label="@string/dandruff"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TotalHealthTips.HairGrowth"
            android:label="@string/hairgrowth"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TotalHealthTips.Cough"
            android:label="@string/cough"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TotalHealthTips.StomachAche"
            android:label="@string/stomach_ache"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TotalHealthTips.HeadAche"
            android:label="@string/headache"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TotalHealthTips.BackPain"
            android:label="@string/backpain"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TotalHealthTips.JointPain"
            android:label="@string/jointpain"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TotalHealthTips.SunBurn"
            android:label="@string/sunburn"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Alrm"
            android:label="@string/title_activity_alrm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ResetPassword"
            android:label="Reset Password" />
    </application>

</manifest>